@page
@model Nkgjjm.Areas.HeadOffice.Pages.VillageIncharge.AssignWarehouseToVillageInchargeModel
@{
}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Assign Warehouse To Village Incharge
        </h2>

    </div>
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">Village Incharge Name</label>
                    <select id="VillageInchargeName" type="text" name="VillageInchargeName" asp-items="@Model.VillageInchargeName" class="form-control">
                        <option>Select Village Incharge</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Warehouse Name</label>
                    <select id="ddldist" type="text" asp-items="Model.WarehouseName" name="WarehouseName" class="form-control">
                        <option>Select Warehouse</option>
                    </select>
                </div>

                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <button class="btn btn-primary" id="Add">Add Warehouse</button>
                </div>
            </div>

        </div>
    </form>
</div>
@section Scripts {
    @{
        <script>
            $("#Add").click(function(e) {
                $.ajax({
                    type: "GET",
                    url: "/api/CheckVillageIncharge",
                    data: { WareHouseId: $("#ddldist").val(), VillageInchargeId: $("#VillageInchargeName").val() },
                    contentType: "application/json",
                    dataType: "text",
                    async: true,
                    success: function(response) {
                        console.log(response);
                        if (response == "AR") {

                            Swal.fire({
                                icon: 'error',
                                title: 'Error...',
                                text: 'Village Incharge Already Exist To Warehouse'
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success...',
                                text: 'Village Incharge Added'
                            })
                        }
                        
                    },
                    failure: function(response) {
                        console.log(response.responseText);
                    },
                    error: function(response) {
                        console.log(response.responseText);
                    }
                });
                e.preventDefault();
            })

        </script>
    }
    }