@page
@model Nkgjjm.Areas.Panel.Pages.JobWorks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Add Job Work
        </h2>
    </div>
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">District Name</label>
                    <select id="ddldistname" type="text" asp-for="JobWork.District" asp-items="@Model.District" class="form-control">
                        <option>Select District Name</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Block Name</label>
                    <select id="ddlblock" asp-for="JobWork.Block" class="form-control">
                        <option>Select Block</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Gram Panchaayat</label>
                    <select id="ddlGramPanchyaat" asp-for="JobWork.GramPanchaayat" class="form-control">
                        <option>Select GramPanchayat</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Village Name</label>
                    <select id="ddlvillage" asp-for="JobWork.VillageCode" class="form-control">
                        <option>Select Village</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label class="form-label sm:w-20"> Contractor Name</label>
                    <select asp-for="JobWork.ContractorId" class="form-control" asp-items="@Model.Contractor">
                    </select>
                    <span asp-validation-for="JobWork.ContractorId" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label class="form-label sm:w-20">JobWork Description</label>
                    <input asp-for="JobWork.JobWorkDesc" class="form-control" />
                    <span asp-validation-for="JobWork.JobWorkDesc" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label class="form-label sm:w-20">JobWork Category</label>
                    <select asp-for="JobWork.JobWorkCategory" class="form-control" asp-items="@Model.JobWorkCategory">
                        <option>Select Job Work Category</option>
                    </select>
                    <span asp-validation-for="JobWork.JobWorkCategory" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label class="form-label sm:w-20">JobWork Unit</label>
                    <input type="text" asp-for="JobWork.Unit" class="form-control" />
                        
                    <span asp-validation-for="JobWork.Unit" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label class="form-label sm:w-20">JobWork Rate</label>
                    <input type="text" asp-for="JobWork.Rate" class="form-control" />
                    <span asp-validation-for="JobWork.Rate" class="text-danger"></span>
                </div>

                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/CustomJs/Block.js"></script>
    <script>
        $("#ddlblock").change(function() {
            $("#ddlGramPanchyaat").empty();
            $.ajax({
                type: "GET",
                url: "/api/GramPanchayats",
                data: { id: $("#ddlblock").val() },
                contentType: "application/json",
                dataType: "json",
                async: true,
                success: function(response) {
                    console.log(response);
                    $("#ddlGramPanchyaat").prepend("<option value='' selected='selected'>Select Gram Panchaayat</option>");
                    $.each(response, function(i, item) {
                        var html = '';
                        html += "<option value=" + item.id + ">" + item.gramPanchayat + "</option>";
                        $("#ddlGramPanchyaat").append(html);

                    })
                },
                failure: function(response) {
                    console.log(response.responseText);
                },
                error: function(response) {
                    console.log(response.responseText);
                }
            });
        });

        $("#ddlGramPanchyaat").change(function() {
            $("#ddlvillage").empty();
            $.ajax({
                type: "GET",
                url: "/api/villages",
                data: { id: $("#ddlGramPanchyaat").val() },
                contentType: "application/json",
                dataType: "json",
                async: true,
                success: function(response) {
                    console.log(response);
                    $("#ddlvillage").prepend("<option value='' selected='selected'>Select Village</option>");
                    $.each(response, function(i, item) {
                        var html = '';
                        html += "<option value=" + item.villageCode + ">" + item.village + "</option>";
                        $("#ddlvillage").append(html);

                    })
                },
                failure: function(response) {
                    console.log(response.responseText);
                },
                error: function(response) {
                    console.log(response.responseText);
                }
            });
        });



    </script>
    }

