@page
@model Nkgjjm.Areas.Panel.Pages.Blocks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Blocks/Index">Blocks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Block</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Edit Block
</h2>
<div class="intro-y box mt-5">
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <input type="hidden" asp-for="DistBlock.Id" />
            <div class="preview">
                <div class="form-inline">
                    <label asp-for="DistBlock.District" class="form-label sm:w-20"></label>
                    <select id="ddldistname" asp-for="DistBlock.District" class="form-control" asp-items="@Model.District" asp-for="DistBlock.">
                        <option>Select District</option>
                    </select>
                    <span asp-validation-for="DistBlock.District" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="DistBlock.Block" class="form-label sm:w-20"></label>
                    <input id="txtBlock" asp-for="DistBlock.Block" class="form-control" />
                    <span asp-validation-for="DistBlock.Block" class="text-danger"></span>
                </div>
            </div>

            <div class="sm:ml-20 sm:pl-5 mt-5">
                <input type="submit" value="Save" id="Add" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/CustomJs/CheckBlock.js"></script>
    }
    }
