
<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>NKG-PRIMUS</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/dist/css/app.css" />
    
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="py-5">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
                <img alt="NKG-PRIMUS" class="w-40" src="~/dist/images/NKGPrimus.png" style="background-color:white;">
            </a>
            <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <div class="scrollable">
            <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            <ul class="scrollable__content py-2">

                <li>
                    <a asp-page="/Headoffice/index" class="menu">
                        <div class="menu__icon"> <i data-lucide="hard-drive"></i> </div>
                        <div class="menu__title"> Dashboard </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="menu__title"> Location Master <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/District/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> District </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Blocks/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Block </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/GP/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title">GramPanchayat </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Village/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title">Village </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">  Item Master <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Unit/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title">  Unit Master </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Itemsmaster/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Item Master  </div>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">  Warehouse <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Warehouses/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Warehouse</div>
                            </a>
                        </li>
                        

                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">  Jobwork <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/JobWorkCategory/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> JobWork Category</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/JobWorks/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> JobWorks </div>
                            </a>
                        </li>

                    </ul>
                </li>
                   <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">     Head Office <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/PO/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Generate PO</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Ho/IndentMaster" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> View Indent </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/HO/GrnMaster" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Master Grn</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/HO/ClosureReport" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Closure</div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">   Warehouse Incharge <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Warehouseincharge/IndentMaster" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> View Indent</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Warehouseincharge/Index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Upload Grn </div>
                            </a>
                        </li>

                    </ul>
                </li>

             




                <li>
                    <a asp-page="/VillageIncharge/index" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Village Incharge </div>
                    </a>
                </li>

                <li>
                    <a asp-page="/VillageIncharge/WorkProgress" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Update Work Progress </div>
                    </a>
                </li>

                <li>
                    <a asp-page="/VillageIncharge/CreateIndent" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Indent </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">     Users <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Designations/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> User Type</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Users/index" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Add User </div>
                            </a>
                        </li>


                    </ul>
                </li>

                <li>
                    <a asp-page="/Contractor/index" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Contractor </div>
                    </a>
                </li>
                 <li>
                    <a asp-page="/Warehouseincharge/create" class="menu">
                        <div class="menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="menu__title"> Warehouse Incharge </div>
                    </a>
                </li> 
                <li>
                    <a asp-page="/Supplier/index" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Supplier </div>
                    </a>
                </li>

                <li>
                    <a asp-page="/VillageIncharge/IndentStatus" class="menu">
                        <div class="menu__icon"> <i data-lucide="calendar"></i> </div>
                        <div class="menu__title"> Indent Status </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-lucide="shopping-bag"></i> </div>
                        <div class="menu__title">     Reports <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Report/VillageIncharge" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Village Incharge</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Report/OverAllStock" class="menu">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Stock </div>
                            </a>
                        </li>
                    </ul>
                </li>

                 <li>
                    <a asp-page="/Index" asp-page-handler="Logout" class="menu">
                        <div class="menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="menu__title"> Signout </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex mt-[4.7rem] md:mt-0">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="" class="intro-x flex items-center pl-5 pt-4">
                <img alt="NKG Primus" class="w-40" src="~/dist/images/NKGPrimus.png" />
                <span class="hidden xl:block text-white text-lg ml-3">  </span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>
                @* @await Component.InvokeAsync("Menu")*@
            </ul>
            <ul>
                <li>
                    <a asp-page="/Headoffice/index" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="home"></i> </div>
                        <div class="side-menu__title">
                            Dashboard

                        </div>
                    </a>

                </li>
                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Location Master
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/District/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> District </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Blocks/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Block </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/GP/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> GramPanchayat </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Village/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Village </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Item Master
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Unit/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Unit Master </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Itemsmaster/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Item Master </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Warehouse
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Warehouses/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Warehouse </div>
                            </a>
                        </li>

                       
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Jobwork
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">

                        <li>
                            <a asp-page="/JobWorkCategory/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> JobWork Category </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/JobWorks/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> JobWorks </div>
                            </a>
                        </li>
                    </ul>
                </li>

                
                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Head Office
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/PO/index" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Generate PO </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Ho/IndentMaster" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> View Indent </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/HO/GrnMaster" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Master Grn</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/HO/ClosureReport" class="side-menu zoom-innn">
                                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                <div class="menu__title"> Closure</div>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a asp-page="/VillageIncharge/index" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title"> Village Incharge</div>
                    </a>
                </li>
               
               
                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Users
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                       
                        <li>
                            <a asp-page="/Users/index" class="side-menu zoom-innn">
                                <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                <div class="side-menu__title">Add User</div>
                            </a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a asp-page="/Contractor/index" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="side-menu__title"> Contractor </div>
                    </a>
                </li>
                <li>
                    <a asp-page="/Warehouseincharge/create" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="side-menu__title"> Warehouse Incharge </div>
                    </a>
                </li> 
                <li>
                    <a asp-page="/Supplier/index" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="side-menu__title"> Supplier </div>
                    </a>
                </li>
                <li>
                    <a asp-page="/VillageIncharge/IndentStatus" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="side-menu__title"> Indent Status </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="side-menu__title">
                            Reports
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-page="/Report/VillageIncharge" class="side-menu zoom-innn">
                                <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                <div class="side-menu__title"> Village Incharge </div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Report/OverAllStock" class="side-menu zoom-innn">
                                <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                <div class="side-menu__title">Stock</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Report/IndentPendingReport" class="side-menu zoom-innn">
                                <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                <div class="side-menu__title">Indent Pending</div>
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Report/ItemBasedOnBom" class="side-menu zoom-innn">
                                <div class="side-menu__icon"> <i data-lucide="credit-card"></i> </div>
                                <div class="side-menu__title">Bom Based Item</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="/Index" asp-page-handler="Logout" class="side-menu zoom-innn">
                        <div class="side-menu__icon"> <i data-lucide="message-square"></i> </div>
                        <div class="side-menu__title"> Signout </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            @RenderBody()

            <!-- END: Content -->
        </div>
    </div>


    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="~/dist/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <!-- END: JS Assets-->
    @RenderSection("Scripts",required:false);
</body>
</html>