@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{


}
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href="/Admin/index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">HOME</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="/Admin/Orders/index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Order</span>
                </a>
            </li>
        </ul>
    </div>
</div>

