@page
@model Nkgjjm.Areas.Panel.Pages.District.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Edit District
        </h2>
    </div>
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <input type="hidden" asp-for="Districts.id" />
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">District Name</label>
                    <input asp-for="Districts.District" class="form-control" />
                    <span asp-validation-for="Districts.District" class="text-danger"></span>
                </div>
                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
