@page
@model Nkgjjm.Areas.Panel.Pages.ItemsMaster.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/ItemsMaster/Index">ItemsMaster</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Item</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Add Item
</h2>
<div class="intro-y box mt-5">
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
               
                <div class="form-inline mt-5">
                    <label asp-for="ItemMaster.ItemName" class="form-label sm:w-20"></label>
                    <input asp-for="ItemMaster.ItemName" class="form-control" />
                    <span asp-validation-for="ItemMaster.ItemName" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="ItemMaster.UnitType" class="form-label sm:w-20"></label>
                    <select asp-items="@Model.Units" asp-for="ItemMaster.UnitType" class="form-control">
                        <option>Select Unit</option>
                    </select>
                    <span asp-validation-for="ItemMaster.UnitType" class="text-danger"></span>
                </div>
               
                <div class="form-inline mt-5">
                    <label asp-for="ItemMaster.Description" class="form-label sm:w-20"></label>
                    <input type="text" name="Desc" class="form-control" value="N/A" />
                    <span asp-validation-for="ItemMaster.Description" class="text-danger"></span>
                </div>
                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
