@page
@model Nkgjjm.Areas.Panel.Pages.Village.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Villages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Villages.Id" />
            <div class="form-group">
                <label asp-for="Villages.Block" class="control-label"></label>
                <input asp-for="Villages.Block" class="form-control" />
                <span asp-validation-for="Villages.Block" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Villages.District" class="control-label"></label>
                <input asp-for="Villages.District" class="form-control" />
                <span asp-validation-for="Villages.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Villages.GramPanchayat" class="control-label"></label>
                <input asp-for="Villages.GramPanchayat" class="form-control" />
                <span asp-validation-for="Villages.GramPanchayat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Villages.Village" class="control-label"></label>
                <input asp-for="Villages.Village" class="form-control" />
                <span asp-validation-for="Villages.Village" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Villages.VillageCode" class="control-label"></label>
                <input asp-for="Villages.VillageCode" class="form-control" />
                <span asp-validation-for="Villages.VillageCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
