@page
@model Nkgjjm.Areas.Panel.Pages.Village.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Village/Index">Village</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Village</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Edit Village
</h2>
<div class="intro-y box mt-5">
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <input type="hidden" asp-for="Villages.Id" />
            <div class="preview">
                <div class="form-inline ">
                    <label asp-for="Villages.District" class="form-label sm:w-20"></label>
                    <select asp-for="Villages.District" class="form-control" asp-items="@Model.District">
                        
                    </select>
                    <span asp-validation-for="Villages.District" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="Villages.Block" class="form-label sm:w-20"></label>
                    <select asp-for="Villages.Block" class="form-control" asp-items="@Model.Block">

                    </select>
                    <span asp-validation-for="Villages.Block" class="text-danger"></span>
                </div>
                
                 <div class="form-inline mt-5">
                    <label asp-for="Villages.GramPanchayat" class="form-label sm:w-20"></label>
                    <select asp-for="Villages.GramPanchayat" class="form-control"asp-items="@Model.Grampanchayat">

                    </select>
                    <span asp-validation-for="Villages.GramPanchayat" class="text-danger"></span>
                </div>
                 <div class="form-inline mt-5">
                    <label asp-for="Villages.Village" class="form-label sm:w-20"></label>
                    <input asp-for="Villages.Village" class="form-control" />
                    <span asp-validation-for="Villages.Village" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="Villages.VillageCode" class="form-label sm:w-20"></label>
                    <input asp-for="Villages.VillageCode" class="form-control" />
                    <span asp-validation-for="Villages.VillageCode" class="text-danger"></span>
                </div>
                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
