@page
@model Nkgjjm.Areas.Panel.Pages.Warehouses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Add Warehouse
        </h2>

    </div>
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">Name</label>
                    <input id="horizontal-form-1" type="text" asp-for="Warehouse.WarehouseName" class="form-control" placeholder="Warehouse Name">
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">District</label>
                    <select id="ddldist" type="text" asp-for="Warehouse.District" asp-items="Model.District" class="form-control">
                        <option>Select District</option>
                    </select>
                </div>

                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <button class="btn btn-primary">Add Warehouse</button>
                </div>
            </div>

        </div>
    </form>
</div>




@*<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Warehouse.WarehouseName" class="control-label"></label>
                <input asp-for="Warehouse.WarehouseName" class="form-control" />
                <span asp-validation-for="Warehouse.WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse.Location" class="control-label"></label>
                <input asp-for="Warehouse.Location" class="form-control" />
                <span asp-validation-for="Warehouse.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse.State" class="control-label"></label>
                <input asp-for="Warehouse.State" class="form-control" />
                <span asp-validation-for="Warehouse.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse.City" class="control-label"></label>
                <input asp-for="Warehouse.City" class="form-control" />
                <span asp-validation-for="Warehouse.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
