@page
@model Nkgjjm.Areas.Panel.Pages.VillageIncharge.UploadGrnModel
@{
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Village/Index">PO</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create PO</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Create PO
</h2>
<div class="intro-y box mt-5">
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">Job Work Id</label>
                    <input id="txtjobworkid" type="text" class="form-control" />                        
                </div>
                
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Upload GRN</label>
                    <input type="file" id="uploadgrn"  class="form-control" />
                </div>
            </div>
        </div>
        <div class="sm:pl-5 mt-1 mb-5">
            <input type="submit" value="Submit" id="add" class="btn btn-primary" />
            <!-- END: Data List -->
        </div>
    </form>
</div>

@section Scripts {
    

    

}

