@page
@model Nkgjjm.Areas.Panel.Pages.PO.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Add PO
        </h2>
    </div>
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                
                <div class="form-inline mt-5">
                    <label asp-for="Pochild.Itemid" class="form-label sm:w-20"></label>
                    <select asp-for="Pochild.Itemid" asp-items="Model.Product" class="form-control">
                        <option>Select Item</option>
                    </select>
                    <span asp-validation-for="Pochild.Itemid" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="Pochild.Qty" class="form-label sm:w-20"></label>
                    <input asp-for="Pochild.Qty" class="form-control" />
                    <span asp-validation-for="Pochild.Qty" class="text-danger"></span>
                </div>
                <div class="form-inline mt-5">
                    <label asp-for="Pochild.Price" class="form-label sm:w-20"></label>
                    <input asp-for="Pochild.Price" class="form-control" />
                    <span asp-validation-for="Pochild.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="sm:ml-20 sm:pl-5 mt-5">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
