@page
@model Nkgjjm.Areas.Panel.Pages.GP.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/gp/Index">GramPanchayats</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add GramPanchayat</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Add GramPanchayat
</h2>
<div class="intro-y box mt-5">
    <form method="post">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">
                    <label for="horizontal-form-1" class="form-label sm:w-20">District</label>
                    <select id="ddldistname" type="text" asp-for="GramPanchayats.District" asp-items="Model.District" class="form-control">
                        <option>District Name</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-1" class="form-label sm:w-20">Block Name</label>
                    <select id="ddlblock" type="text" asp-for="GramPanchayats.Block" asp-items="Model.BlockName" class="form-control">
                        <option>Select Block</option>
                    </select>
                </div>
                <div class="form-inline mt-5">
                    <label for="horizontal-form-2" class="form-label sm:w-20">Name</label>
                    <input id="txtgp" type="text" asp-for="GramPanchayats.GramPanchayat" class="form-control" placeholder="GramPanchayat Name">
                </div>


                <div class="sm:ml-20 sm:pl-5 mt-5">
                    <button class="btn btn-primary" id="Add">Add GramPanchayat</button>
                </div>
            </div>

        </div>
    </form>
</div>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/CustomJs/Block.js"></script>
    <script src="~/CustomJs/CheckGP.js"></script>







    }
